<!DOCTYPE html>
<html lang="en">
  <head>
    <title>El-Cato</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <%- include('./imports') %>
    <link rel="stylesheet" href="stylesheets/home.css" />
  </head>
  <body>
    <div class="container" id="page-container">
      <div id="content-wrap">
        <div class="text-white pt-3">
          <h2><u>El-Cato is free!</u></h2>

          <h5>
            <p>You did it!<br /></p>
            <p>You've succesfully completed our escape room<br /></p>
          </h5>
        </div>

        <div class="d-flex flex-row align-items-center pb-5">
          <div>
            <img
              src="images/el-cato_finish.png"
              alt=""
              class="img-fluid rounded w-50"
            />
          </div>

          <div>
            <div class="text-white pt-3">
              <p>Thanks for you support with our escape room<br /></p>
              <p>If you've like to support our group, you can do so below</p>
            </div>

            <div>
              <a
                href="https://newryscouts.com/donate.html"
                class="btn black-background white m-2"
                >Donate here</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <section
      class="jumbotron jumbotron-fluid black-background white"
      style="margin-bottom: 0rem"
      id="footer"
    >
      <div class="container">
        <div class="row p2">
          <div class="col-1 mx-1">
            <a
              href="https://www.facebook.com/NewryScouts/"
              target="_blank"
              class="fa fa-facebook social-icon"
            ></a>
          </div>
          <div class="col-1 mx-1">
            <a
              href="https://instagram.com/newryscouts/"
              target="_blank"
              class="fa fa-instagram social-icon"
            ></a>
          </div>

          <div class="col-1 mx-1">
            <a
              href="https://twitter.com/newryscouts"
              target="_blank"
              class="fa fa-twitter social-icon"
            ></a>
          </div>

          <div class="col-8 text-right">
            <a
              class="contact-button"
              href="http://newryscouts.com/contact.html"
            >
              <span class="btn-text text-white">Contact us</span>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col text-left">
            <p class="font-italic" style="color: #ffffff">1st Dromore Scouts</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
