<!DOCTYPE html>
<html>
  <head>
    <title><%- title %></title>
    <%- include('./imports') %>
  </head>
  <body>
    <div id="viewer"></div>
    <%- include('./modal') %>

    <script src="javascripts/<%= js  %>.js"></script>
    <script src="javascripts/roomInit.js"></script>

    <script></script>
  </body>
</html>
