<!DOCTYPE html>
<html>

<head>
  <title><%- title %></title>
  <%- include('./imports') %>
</head>

<body>
  <div id="viewer"></div>
  <%- include('./modal') %>

  <!-- config -->
  <script src="javascripts/client/config/cookies.js"></script>
  <script src="javascripts/client/config/<%= js  %>Config.js"></script>
  <script src="javascripts/client/buildRoomUtil.js"></script>
  <script src="javascripts/client/roomService.js"></script>
  <script src="javascripts/client/socketService.js"></script>
  <script src="javascripts/client/roomInit.js"></script>

  <script></script>
</body>

</html>