<!DOCTYPE html>
<html>
  <head>
    <%- include('../imports') %>
  </head>
  <body>
    <div id="viewer"></div>
    <%- include('../modal') %>

    <script src="javascripts/link.js"></script>
    <script src="javascripts/roomInit.js"></script>
  </body>
</html>
